curl 'https://fp.trafikverket.se/Boka/occasion-bundles' -H 'Cookie: FpsExternalIdentity=?; _gat=1; _ga=?; _gid=?; FORARPROV-FPS-WEB-EXT=?' -H 'Origin: https://fp.trafikverket.se' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: en-US,en;q=0.9,zh-CN;q=0.8,zh;q=0.7,zh-TW;q=0.6' -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36' -H 'Content-Type: application/json' -H 'Accept: application/json, text/javascript, */*; q=0.01' -H 'Referer: https://fp.trafikverket.se/Boka/' -H 'X-Requested-With: XMLHttpRequest' -H 'Connection: keep-alive' --data-binary '{"bookingSession":{"socialSecurityNumber":"?","licenceId":5,"bookingModeId":0,"ignoreDebt":false,"examinationTypeId":0,"rescheduleTypeId":"0"},"occasionBundleQuery":{"startDate":"2017-12-11T23:00:00.000Z","locationId":1000134,"languageId":4,"vehicleTypeId":4,"tachographTypeId":1,"occasionChoiceId":1,"examinationTypeId":0}}' --compressed -s
